{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "^#909c4f;USCM SR-", "^#909c4f;USCM Marksman " ],
      [ { "mode" : "alts" }, "" ],
      [ { "mode" : "alts" }, "02^reset;", "04^reset;", "05^reset;", "07^reset;", "09^reset;", "10^reset;", "12^reset;", "13^reset;", "15^reset;", "17^reset;", "20^reset;", "23^reset;", "26^reset;", "27^reset;", "28^reset;", "32^reset;", "34^reset;", "35^reset;", "39^reset;", "44^reset;", "45^reset;", "46^reset;", "48^reset;", "40^reset;", "49^reset;", "50^reset;", "51^reset;", "53^reset;", "55^reset;", "62^reset;", "65^reset;", "66^reset;", "67^reset;", "69^reset;", "70^reset;", "73^reset;", "75^reset;", "76^reset;", "77^reset;", "79^reset;", "80^reset;", "82^reset;", "83^reset;", "86^reset;", "88^reset;", "90^reset;", "93^reset;", "94^reset;", "95^reset;", "101^reset;" ]
    ]
  ]
}
