{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "^#909c4f;USCM AR-", "^#909c4f;USCM C-", "^#909c4f;USCM M-" ],
      [ { "mode" : "alts" }, "" ],
      [ { "mode" : "alts" }, "01^reset;", "03^reset;", "05^reset;", "06^reset;", "08^reset;", "11^reset;", "14^reset;", "16^reset;", "18^reset;", "19^reset;", "21^reset;", "22^reset;", "24^reset;", "25^reset;", "29^reset;", "31^reset;", "33^reset;", "37^reset;", "38^reset;", "40^reset;", "41^reset;", "42^reset;", "43^reset;", "47^reset;", "49^reset;", "52^reset;", "54^reset;", "56^reset;", "57^reset;", "60^reset;", "61^reset;", "63^reset;", "64^reset;", "68^reset;", "70^reset;", "71^reset;", "72^reset;", "74^reset;", "78^reset;", "79^reset;", "81^reset;", "84^reset;", "85^reset;", "87^reset;", "89^reset;", "92^reset;", "96^reset;", "97^reset;", "99^reset;", "100^reset;" ]
    ]
  ]
}
