{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "iwpp_paraichorexplosion",
      "config" : {
        "statusEffects" : [ "iwpp_ichorpoison" ]
      }
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/iwpp_paraichordrip/iwpp_paraichordrip1.animation",
                "finalVelocity" : [0, -1],
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/iwpp_paraichorbubble/iwpp_paraichorbubble.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/iwpp_paraichorbubble/iwpp_paraichorbubble.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2.5, 2.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/iwpp_ichorexplosion1.ogg", "/sfx/gun/iwpp_ichorexplosion2.ogg", "/sfx/gun/iwpp_ichorexplosion3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
